# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env

# Database
*.db
*.sqlite3

# RAG / Vector store
*.faiss
chroma_db/

# Node / Frontend
node_modules/
.next/
out/
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
